h1 { 
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
}

.brushes {
    background-color: mediumspringgreen;
}

h2, h3{
    font-weight: bold;
    font-family: helvetica, sans-serif;
}

.price {
    font-family: Helvetica, sans-serif;
font-weight: bold;
color: blue;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}


