h1, h2{
    display: block;
    text-align: center;
    font-weight: bold;
    border-color: black;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{
    border: 1px solid;
    background-color: orange;
}

h2{
    padding: 10px;
    color: orangered;
}

.tags{
    margin: 0 auto;
    border: 2px solid;
    border-color: black;
    padding: 10px 0;
}

.attributes{
    margin: 0 auto;
    border: 2px solid;
    border-color: black;
    padding: 10px 0;
}

td{
    border: 1px solid;
    background-color: white;
}

body{
    background-color: aqua;
}

.code{
    font-style: italic;
    background-color: orange;
    padding: 2px;
}

thead{
    text-decoration: underline;
}