html {
    display: block;
}

body {
    display: block;
    margin: 0 10%;
}

h1, h2 {
    text-align: center;
}

.color-box-header{
    text-align: center;
}

.color-container {
    border: 2px solid;
    margin-top: 10px;
    margin-bottom: 20px;
}

.color-box {
    display: flex;
    padding-bottom: 50px;
}

.color-panel-cool-blue {
    flex: 1;
    display: block;
    padding-left: 20px;
    background-color: #2d5dcc;
    margin: 10px;
    border: 1px solid;
}

#cool-blue, #cool-blue-hex {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.color-panel-pink {
    flex:  1;
    border: 1px solid;
    display: block;
    background-color: #d957d9;
    margin: 10px;
}

#pink, #pink-hex {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.color-panel-mint-green {
    flex: 1;
    display: block;
    background-color: #4fe0b0;
    margin: 10px;
    border: 1px solid;
}

#mint-green, #mint-green-hex {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.color-panel-beige {
    flex: 1;
    display: block;
    background-color: #efd9ca;
    margin: 10px;
    border: 1px solid;
}

#beige, #beige-hex {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.font-header {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.font-container {
    display: box;
    padding-top: 20px;
    border: 2px solid;
    margin: 10px auto;
}

.font-box {
    display: flex;
    padding-bottom: 50px;
}

.source-panel {
    display:block;
    flex: 1;
    margin: 10px;
}

.source-panel p {
    text-align: center;
    font-size: 20px;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif
}

.nunito-panel {
    display: block;
    flex: 1;
    margin: 10px;
}

.nunito-panel p {
    text-align: center;
    font-size: 20px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

.poppins-panel {
    display: block;
    flex: 1;
    margin: 10px;
}

.poppins-panel p {
    text-align: center;
    font-size: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.styles-container {
    display: block;
    padding-top: 20px;
    border: 2px solid;
    margin-top: 20px;
}

.styles-box {
    display: flex;
    margin: 10px;
}

.h1-panel {
    flex: 1;
}

.h1-panel h1 {
    margin: 16px;
    font-weight: 700;
    font-size: 26px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

.h2-panel {
    flex: 1;
}

.h2-panel h2 {
    margin: 16px;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.p-panel {
    flex: 1;
}

.p-header {
    margin-top: 25px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}
